<div class="card">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h4 class="card-title">{{ product.productTitle }}</h4>
    <h6 class="d-flex justify-content-between align-items-center">
      Price: {{ product.productPrice }} TK
      <a href="#" class="btn btn-primary">{{ product.productDiscount }}</a>
    </h6>
    <p class="card-text">{{ product.productDescription }}</p>
    <div class="d-flex mb-2">
      <button class="btn btn-light me-1 minus" type="button" (click)="decreaseproductCount(product.productId)">-</button>
      <input type="text" class="form-control" [value]="productCount" />
      <button class="btn btn-light ms-1 plus" type="button" (click)="decreaseproductCount(product.productId)">+</button>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" (click)="addToCart(product.productId)">
        Add to Cart
      </button>
      <button class="btn btn-danger">Remove to Cart</button>
    </div>
  </div>
</div>
