<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Navbar</a>
    <form class="d-flex" role="search">
      <button class="btn btn-light" type="submit">Login</button>
    </form>
  </div>
</nav>
<div class="app-layout">
  <div class="app-sidebar-menu bg-body-secondary">
    <h3 class="text-center">Our Menus</h3>
    <ul class="list-group p-4">
      <!-- <li class="list-group-item" *ngFor="let formData of formDataArray;">{{ formData.categoryName }} - {{ formData.categoryID }}</li> -->
      <li class="list-group-item">
        <a routerLink="home">Home</a>
      </li>
      <li class="list-group-item">
        <a routerLink="menu-category-form">Category Menu Setup</a>
      </li>
      <li class="list-group-item">
        <a routerLink="product-list">Product List</a>
      </li>
      <li class="list-group-item">
        <a routerLink="product-setup">Product Setup</a>
      </li>
      <li class="list-group-item">
        <a routerLink="user-role-setup">User Role Setup</a>
      </li>
      <li class="list-group-item">
        <a routerLink="user-role-form">User Role Form</a>
      </li>
    </ul>

  </div>
  <div class="app-main-body">
    <router-outlet></router-outlet>
  </div>
</div>
