.app-layout {
  display: flex;
  min-height: 100vh;
  .app-sidebar-menu {
    flex-basis: 300px;
    min-width: 300px;
  }
  .app-main-body {
    flex-grow: 1;
  }
}

.navbar.bg-body-tertiary{
  background-color: #712cf9 !important;
}